@import './setting/const.scss';
@import './setting/reset.scss';
@import './components/header.scss';
@import './components/post.scss';
@import './components/posts.scss';
@import './components/sidePost.scss';
@import './components/monthlyArchive.scss';
@import './components/footer.scss';
@import './components/overlay.scss';

body{
    background: $background;
    white-space: pre-wrap;
}

.page{
    position:relative;
    width: 100%;
    min-height:calc(100vh - 50px);
    
}

.container{
    position: relative;
    width: calc(max(360px, min(100%, 820px)));
    left: calc(50% - max(360px, min(100%, 820px))/2);
    height: 100%;
    /* font-size:0;to destroy space when child display:inline and parent is display:block */
}

.border{
    border-bottom: 4px solid;
    border-color:$white-gray;
    margin: 0 30px;
}










